{% extends 'base.html' %}

{% block body %}
    <!-- Start Content -->
    <div class="container">
        <div class="col-8 text-center mx-auto m-5">
            <h1 class="display-5 fw-bold">About Us</h1>
            <p class="fs-4 fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Velit repudiandae incidunt odio ullam totam in et blanditiis neque,
            illo suscipit sint aliquam nisi dolore quae est illum labore natus libero.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Modi, molestias magni accusantium doloremque vel unde quis doloribus.
            Accusantium inventore ipsam blanditiis odio obcaecati officia iste,
            in facilis excepturi id atque!</p>
            <hr class="text-primary w-50" style="margin: auto;">
            <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Modi, molestias magni accusantium doloremque vel unde quis doloribus.
            Accusantium inventore ipsam blanditiis odio obcaecati officia iste,
            in facilis excepturi id atque!</p>
        </div>
    </div>
    <!-- End Content -->
{% endblock body %}