{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Start Content -->
    <div class="container mx-auto">
        <div class="mt-5" style="box-shadow: 2px 2px 8px 0px #ddd;">
            <div class="nav justify-content-between">
                <h4 class="m-3 p-0">{{products_number}} Products Available</h4>
                <div class="dropdown m-3">
                    <a class="btn btn-secondary dropdown-toggle" href="!#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="?search_product={{search_key}}&sort_by=title">Name: A to Z</a></li>
                        <li><a class="dropdown-item" href="?search_product={{search_key}}&sort_by=-title">Name: Z to A</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="?search_product={{search_key}}&sort_by=-price">Price: High to Low</a></li>
                        <li><a class="dropdown-item" href="?search_product={{search_key}}&sort_by=price">Price: Low to High</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-5" style="box-shadow: 2px 2px 8px 0px #ddd;">
            <div class="row mt-1">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card m-3" style="width: 90%;">
                            <a href="{% url 'product:product_details' product.id product.slug %}">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px;" alt="product_image">
                                {% else %}
                                    <img src="{% static 'img/product_image.jpeg' %}" class="card-img-top" style="height: 200px;" alt="product_image">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <a href="{% url 'product:product_details' product.id product.slug %}">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                </a>
                                <hr class="dropdown-divider">
                                <p class="card-text" style="padding-bottom: 0px; margin-bottom: 0px;"><span class="fw-bold">Price:</span> {{ product.price }}$</p>
                                <p class="card-text" style="padding-bottom: 0px; margin-bottom: 0px;"><span class="fw-bold">Product code:</span> {{ product.product_code }}</p>
                                <p class="card-text"><span class="fw-bold">Trader:</span> {{ product.trader }}</p>
                                <div>
                                {% if product in items %}
                                    <a class="btn btn-success w-100 fs-5" href="{% url 'cart:cart_details' %}">Go To Cart</a>
                                {% else %}
                                {% csrf_token %}
                                    <button class="btn btn-primary w-100 fs-5 add-to-cart-btn" value="{{ product.id }}">Add To Cart</button>
                                {% endif %}
                                    <a hidden class="btn btn-success w-100 fs-5" href="{% url 'cart:cart_details' %}">Go To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if products.has_other_pages %}
        <div class="col-12" style="margin-bottom: 60px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?search_product={{search_key}}&sort_by={{sort_by_key}}&page={{products.previous_page_number}}">Previous</a>
                        </li>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                        <li class="page-item pagination_page_{{i}}"><a class="page-link" href="?search_product={{search_key}}&sort_by={{sort_by_key}}&page={{i}}">{{i}}</a></li>
                    {% endfor %}

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?search_product={{search_key}}&sort_by={{sort_by_key}}&page={{products.next_page_number}}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
    <!-- End Content -->
{% endblock body %}