{% extends "base_generic.html" %}
{% load bootstrap5 %}

{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}

    <input type="submit" value="Login" class="btn btn-primary fs-5 w-100" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}" class="text-primary">Lost password?</a></p>
    <p><a href="{% url 'accounts:sign_up' %}" class="text-primary">Don't have an account?</a></p>
{% endblock content %}