{% extends "base_generic.html" %}
{% load bootstrap5 %}

{% block content %}
    {% if validlink %}
        <p class="fs-3">Please enter (and confirm) your new password.</p>
        <form method="POST">
        {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <input type="submit" value="Change my password" class="btn btn-primary fs-5 w-100 mt-2" />
            {% endbuttons %}
        </form>
    {% else %}
        <h1 class="text-danger">Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
